.footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 34px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer h3 {
  color: var(--thirdy-color);
  font-family: nunito;
}

.registrada {
  color: var(--thirdy-color);
  font-family: "Courier New", Courier, monospace;
}
