.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  background: var(--primary-color);
	min-height: 100%;
	flex: 1;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: var(--primary-color);
	line-height: 1;
  	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
	--primary-color:#F7E7CE;
	--secondary-color:#64350d;
	--thirdy-color:  #F9B03C;
}

.spacing {
	gap: 50px;
	display: flex;
	flex-direction: column;

}

html{
	scroll-behavior: smooth;
}

@font-face {
    font-family: 'Nilland';
	src: url('./font/Nilland.ttf');
	font-weight: 400;	
}

@font-face {
    font-family: 'Nilland';
	src: url('./font/Nilland-Black.ttf');
	font-weight: 900;	
}

@font-face {
    font-family: 'Nilland';
	src: url('./font/Nilland-Bold.ttf');
	font-weight: 700;	
}