.header {
  background-color: #64350d;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.header-menu a {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  line-height: 1, 3;
  color: #f9b03c;
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}

.logo {
  align-items: center;
  max-width:  100px;
  padding: 10px;

}
